<center>
  <form method="POST" action="">
      {{ form.csrf_token }}
      <p>
      {{ form.name.label }} {{ form.name(size=20) }}
      </p>
      <p>
      {{ form.dnsname.label }} {{ form.dnsname(size=20) }}
      </p>
      <p>
      {{ form.username.label }} {{ form.username(size=20) }}
      </p>
      <p>
      {{ form.passwd.label }} {{ form.passwd(size=20) }}
      </p>
      <p>
      {{ form.public_key.label }} {{ form.public_key(size=20) }}
      </p>
      <p>
      {{ form.private_key_path.label }} {{ form.private_key_path(size=20) }}
      </p>
      <input type="submit" value="Deploy">
  </form>
</center>
